@font-face {
  font-family: "VT323";
  src: url("../../fonts/VT323-Regular.ttf");
}
@keyframes blink {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.slide-right {
  left: 100%;
  transition: transform 0.3s ease-out;
}

.slide-right--visable {
  transform: translateX(-100%);
}

@media screen and (min-width: 768px) {
  .slide-right {
    left: 100%;
  }

  .slide-right--visable {
    transform: translateX(-500px);
  }
}

.cursor {
  animation: blink 1s infinite;
}
